<div class="card card-table">
    <div class="flex flex-row align-items-center justify-content-start pt-2 pb-3">
        <h5 class="mb-0 pr-3">Quản lý công việc</h5>
        <i class="pi pi-clock mr-4 p-text-secondary" title="Quá hạn" pBadge style="font-size: 2rem" value="2"></i>
        <i class="pi pi-comment mr-4 p-text-secondary" title="Bình luận" pBadge style="font-size: 2rem" value="2"></i>
    </div>
    <div class="grid">
        <div class="col-5 pr-0">
            <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
        </div>
        <div class="col-7 pl-0">
            <div class="h-full flex flex-row align-items-center justify-content-end border-300 border-bottom-2">
                <p-calendar inputId="basic" [(ngModel)]="exportParam.fromDate"></p-calendar>
                <p-calendar inputId="basic" [(ngModel)]="exportParam.toDate"></p-calendar>
                <p-dropdown placeholder="Chọn trạng thái" optionLabel="name" [showClear]="true"
                            [(ngModel)]="exportParam.statusId"></p-dropdown>
                <p-dropdown placeholder="Chọn phòng ban" optionLabel="name" [showClear]="true"
                            [(ngModel)]="exportParam.deptId"></p-dropdown>
                <p-button icon="pi pi-download"></p-button>
            </div>
        </div>
    </div>
    <p-table *ngIf="activeItem?.id === '1'" #dt1 [value]="result.data" dataKey="id" [rows]="10" [loading]="loading"
             [rowHover]="true"
             styleClass="p-datatable-gridlines mt-2" [paginator]="true" responsiveLayout="scroll'"
             [totalRecords]="result.totalItems" [rowsPerPageOptions]="[5, 10, 25, 50]"
             [showCurrentPageReport]="true" [lazy]="true" (onLazyLoad)="getWorkList($event)"
             scrollable="true" scrollDirection="both"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="flex align-items-center justify-content-start py-2">
                    <p-dropdown [options]="actions" placeholder="Chọn hành động" optionLabel="name"
                                [showClear]="true"></p-dropdown>
                    <button pButton>Lưu</button>
                </div>
                <button pButton (click)="onAddWorkflow()">Thêm mới công việc</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="w-1">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th class="w-2">
                    Tiêu đề công việc
                </th>
                <th class="w-2">
                    Ngày tạo
                </th>
                <th class="w-1">
                    Hạn chót
                </th>
                <th class="w-1">
                    Tổng giờ làm
                </th>
                <th class="w-1">
                    Tạo bởi
                </th>
                <th class="w-2">
                    Chịu trách nhiệm
                </th>
                <th class="w-1">
                    Dự án cha
                </th>
                <th class="w-1">
                    Xem
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="w-1 flex align-items-center justify-content-between">
                    <p-tableCheckbox></p-tableCheckbox>
                    <i class="pi pi-ellipsis-h cursor-pointer text-400 text-lg" (click)="op.toggle($event)"></i>
                </td>
                <td class="w-2">
                    {{item.name}}
                </td>
                <td class="w-2">
                    {{item.createdDate | date:'dd/MM/yyyy'}}
                </td>
                <td class="w-1">
                    {{item.deadLine | date:'dd/MM/yyyy'}}
                </td>
                <td class="w-1">
                    {{item.actualHours}}
                </td>
                <td class="w-1">
                    <!--                    {{item.responsibleUserCreated?.fullName}}-->
                </td>
                <td class="w-2">
                    <!--                    {{item.name}}-->
                </td>
                <td class="w-1">
                    {{item.project}}
                </td>
                <td class="w-1">
                    {{item.viewer | number:'1.0-0'}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr class="p-rowgroup-footer">
                <td colspan="10" class="w-full pt-4 pb-4">No user found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="10" class="w-full pt-4 pb-4">Loading user data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="activeItem?.id === '2'">
        <div class="w-full flex align-items-start justify-content-center">
            <div class="flex-1 border-right-1 border-y-none border-left-none border-dotted border-500 relative">
                <p-virtualScroller [value]="expiredWorks" scrollHeight="calc(100vh - 265px)" [itemSize]="100">
                    <ng-template pTemplate="header">
                        <div class="w-full flex align-items-center justify-content-start bg-pink-400 p-3">
                            <p>Quá hạn</p>
                        </div>
                    </ng-template>
                    <ng-template let-work pTemplate="item">
                        <div
                            class="flex flex-column align-items-start justify-content-center border-1 border-400 border-round my-3 p-2">
                            <p>{{work.name}}</p>
                            <p>{{work.date | date:'dd/MM/yyyy'}}</p>
                            <p>
                                <i [className]="work.icon"></i>
                            </p>
                        </div>
                    </ng-template>
                </p-virtualScroller>
            </div>
            <div class="flex-1 border-right-1 border-y-none border-left-none border-dotted border-500 sticky top-0">
                <p-virtualScroller [value]="expiredWorks" scrollHeight="calc(100vh - 265px)" [itemSize]="100">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center justify-content-start bg-yellow-400 p-3">
                            <p>Đến hạn hôm nay</p>
                        </div>
                    </ng-template>
                    <ng-template let-work pTemplate="item">
                        <div
                            class="flex flex-column align-items-start justify-content-center border-1 border-400 border-round my-3 p-2">
                            <p>{{work.name}}</p>
                            <p>{{work.date | date:'dd/MM/yyyy'}}</p>
                            <p>
                                <i [className]="work.icon"></i>
                            </p>
                        </div>
                    </ng-template>
                </p-virtualScroller>
            </div>
            <div class="flex-1 border-right-1 border-y-none border-left-none border-dotted border-500 sticky top-0">
                <p-virtualScroller [value]="expiredWorks" scrollHeight="calc(100vh - 265px)" [itemSize]="100">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center justify-content-start bg-green-400 p-3">
                            <p>Đến hạn tuần này</p>
                        </div>
                    </ng-template>
                    <ng-template let-work pTemplate="item">
                        <div
                            class="flex flex-column align-items-start justify-content-center border-1 border-400 border-round my-3 p-2">
                            <p>{{work.name}}</p>
                            <p>{{work.date | date:'dd/MM/yyyy'}}</p>
                            <p>
                                <i [className]="work.icon"></i>
                            </p>
                        </div>
                    </ng-template>
                </p-virtualScroller>
            </div>
            <div class="flex-1 border-right-1 border-y-none border-left-none border-dotted border-500 sticky top-0">
                <p-virtualScroller [value]="expiredWorks" scrollHeight="calc(100vh - 265px)" [itemSize]="100">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center justify-content-start bg-teal-400 p-3">
                            <p>Đến hạn tuần tới</p>
                        </div>
                    </ng-template>
                    <ng-template let-work pTemplate="item">
                        <div
                            class="flex flex-column align-items-start justify-content-center border-1 border-400 border-round my-3 p-2">
                            <p>{{work.name}}</p>
                            <p>{{work.date | date:'dd/MM/yyyy'}}</p>
                            <p>
                                <i [className]="work.icon"></i>
                            </p>
                        </div>
                    </ng-template>
                </p-virtualScroller>
            </div>
            <div class="flex-1 border-right-1 border-y-none border-left-none border-dotted border-500 sticky top-0">
                <p-virtualScroller [value]="expiredWorks" scrollHeight="calc(100vh - 265px)" [itemSize]="100">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center justify-content-start bg-bluegray-400 p-3">
                            <p>Không có thời gian</p>
                        </div>
                    </ng-template>
                    <ng-template let-work pTemplate="item">
                        <div
                            class="flex flex-column align-items-start justify-content-center border-1 border-400 border-round my-3 p-2">
                            <p>{{work.name}}</p>
                            <p>{{work.date | date:'dd/MM/yyyy'}}</p>
                            <p>
                                <i [className]="work.icon"></i>
                            </p>
                        </div>
                    </ng-template>
                </p-virtualScroller>
            </div>
        </div>
    </div>
    <div *ngIf="activeItem?.id === '3'">
        <div class="w-full h-full flex flex-column align-items-start justify-content-start">
            <p-calendar showIcon="true" [(ngModel)]="ganttWork.month" view="month" dateFormat="mm/yy"></p-calendar>
        </div>
    </div>
    <div *ngIf="activeItem?.id === '4'"></div>
</div>
<p-overlayPanel #op class="px-0">
    <ng-template pTemplate>
        <div class="flex flex-column align-items-start">
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer item-overlay">
                <i class="pi pi-check mr-4"></i>
                <p>Ghim</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-play mr-4"></i>
                <p>Bắt đầu công việc</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-pause mr-4"></i>
                <p>Tạm dừng công việc</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-check mr-4"></i>
                <p>Hoàn thành công việc</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-copy mr-4"></i>
                <p>Sao chép</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-pencil mr-4"></i>
                <p>Chỉnh sửa</p>
            </div>
            <div
                class="w-full flex align-items-center justify-content-start border-bottom-1 border-400 py-2 cursor-pointer">
                <i class="pi pi-trash mr-4"></i>
                <p>Xóa bỏ</p>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
