<p-toast></p-toast>
<form *ngIf="display" class="w-12" [formGroup]="userForm" autocomplete="off">
    <p-accordion>
        <!--personal info-->
        <p-accordionTab>
            <ng-template pTemplate="header">
                <div class="flex flex-wrap">
                    <h5 class="m-0 mr-2" [translate]="'label.account'"></h5>
                    <div class="flex align-items-center"
                        *ngIf="(isInvalidForm && checkValidMultiValidator(['username', 'userRoleIds', 'fullName', 'code', 'provinceIdWork', 'districtIdWork', 'wardIdWork']))">
                        <span class="p-error" style="margin-top: 2px;" [translate]="'info.enter_account_info' | translate"></span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="content">
                <div class="grid w-full mx-auto">
                    <!--username-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="username" [translate]="'label.username'"></label>
                        <input pInputText id="username" [(ngModel)]="userForm.value.username" formControlName="username"
                            [ngClass]="checkValidValidator('username')" [readonly]="isEdit" />
                        <small *ngIf="checkValidValidator('username')" class="p-error" [innerHTML]="'info.username' | translate"></small>
                    </div>
                    <!--fullName-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="fullName" [translate]="'label.full_name'"></label>
                        <input pInputText id="fullName" [(ngModel)]="userForm.value.fullName" formControlName="fullName"
                            [ngClass]="checkValidValidator('fullName')" />
                        <small *ngIf="checkValidValidator('fullName')" class="p-error" [innerHTML]="'info.full_name' | translate"></small>
                    </div>
                    <!--code-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="code" [translate]="'label.code'"></label>
                        <input pInputText id="code" [(ngModel)]="userForm.value.code" formControlName="code"
                            [ngClass]="checkValidValidator('code')" />
                        <small *ngIf="checkValidValidator('code')" class="p-error" [innerHTML]="'info.code' | translate"></small>
                    </div>
                    <!--role-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="userRoleIds" [translate]="'label.role'"></label>
                        <p-multiSelect id="userRoleIds" [options]="roles" [optionLabel]="'title'" [optionValue]="'id'" [appendTo]="'body'"
                            [(ngModel)]="userForm.value.userRoleIds" [formControlName]="'userRoleIds'"
                            [ngClass]="checkValidValidator('userRoleIds')">
                        </p-multiSelect>
                        <small *ngIf="checkValidValidator('userRoleIds')" class="p-error" [innerHTML]="'info.role' | translate"></small>
                    </div>
                    <!--province-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="provinceId" [translate]="'label.province'"></label>
                        <p-dropdown id="provinceId" [options]="provinces" [optionLabel]="'name'" [optionValue]="'id'" showClear="true"
                            [(ngModel)]="userForm.value.provinceId" [formControlName]="'provinceId'" [appendTo]="'body'"
                            [placeholder]="'label.empty' | translate" [filter]="true" filterBy="name"
                            [ngClass]="checkValidValidator('provinceId')" (onChange)="getDistrict($event)"></p-dropdown>
                        <small *ngIf="checkValidValidator('provinceId')" class="p-error" [innerHTML]="'info.province' | translate"></small>
                    </div>
                    <!--district-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="districtId" [translate]="'label.district'"></label>
                        <p-dropdown id="districtId" [options]="districts" [optionLabel]="'name'" [optionValue]="'id'" showClear="true"
                            [(ngModel)]="userForm.value.districtId" [formControlName]="'districtId'" [appendTo]="'body'"
                            [placeholder]="'label.empty' | translate" [filter]="true" filterBy="name"
                            [ngClass]="checkValidValidator('districtId')" (onChange)="getWard($event)"></p-dropdown>
                        <small *ngIf="checkValidValidator('districtId')" class="p-error" [innerHTML]="'info.district' | translate"></small>
                    </div>
                    <!--ward-->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="wardId" [translate]="'label.ward'"></label>
                        <p-dropdown id="wardId" [options]="wards" [optionLabel]="'name'" [optionValue]="'id'" showClear="true"
                            [(ngModel)]="userForm.value.wardId" [formControlName]="'wardId'" [appendTo]="'body'"
                            [placeholder]="'label.empty' | translate" [filter]="true" filterBy="name"
                            [ngClass]="checkValidValidator('wardId')"></p-dropdown>
                        <small *ngIf="checkValidValidator('wardId')" class="p-error" [innerHTML]="'info.ward' | translate"></small>
                    </div>
                    <!-- Phòng ban công tác -->
                    <div class="field col-12 md:col-3 flex flex-column">
                        <label htmlFor="departmentId" [translate]="'Phòng ban công tác'"></label>
                        <p-dropdown id="departmentId" [options]="departments" [optionLabel]="'name'" [optionValue]="'id'"
                            [(ngModel)]="userForm.value.departmentId" [formControlName]="'departmentId'"
                            [placeholder]="'label.empty' | translate" [ngClass]="checkValidValidator('departmentId')" [filter]="true"
                            filterBy="name"></p-dropdown>
                        <small *ngIf="checkValidValidator('departmentId')" class="p-error"
                            [translate]="'info.department' | translate"></small>
                    </div>
                    <div class="field col-12 flex justify-content-end mt-4">
                        <button (click)="doRegist(1)" pButton class="p-button-success" icon="pi pi-save" pRipple
                            [label]="'button.save' | translate"></button>
                    </div>
                </div>
            </ng-template>
        </p-accordionTab>
    </p-accordion>
</form>
<form [formGroup]="userForm" class="card mb-0">
    <p-divider></p-divider>
    <!-- Password account -->
    <div class="flex flex-wrap">
        <h4 class="m-0 mr-2" [translate]="'label.change_password_if_need'"></h4>
        <div class="flex align-items-center" *ngIf="isInvalidForm || (!isEdit && checkValidMultiValidator(['password', 'confirmPassword']))">
            <span class="p-error" style="margin-top: 2px;" [translate]="'info.enter_password_info' | translate"></span>
        </div>
    </div>
    <div class="p-fluid p-formgrid grid mt-2">
        <!--password-->
        <div class="field col-12 md:col-3">
            <label htmlFor="password" [translate]="'label.password'"></label>
            <input pInputText id="password" type="password" [(ngModel)]="userForm.value.password" [autocomplete]="'off'"
                [class.ng-invalid]="(!isEdit && checkValidValidator('password')) || userForm.get('password').hasError('pattern')"
                [class.ng-dirty]="(!isEdit && checkValidValidator('password')) || userForm.get('password').hasError('pattern')"
                [formControlName]="'password'" [maxlength]="'32'" [pattern]="appConstant.PATTERNS.PASSWORD" />
            <small class="p-error"
                *ngIf="(!isEdit && checkValidValidator('password')) || userForm.get('password').hasError('pattern')"
                [innerHTML]="'info.password' | translate"></small>
        </div>
        <!--confirmPassword-->
        <div class="field col-12 md:col-3">
            <label htmlFor="confirmPassword" [translate]="'label.confirm_password'"></label>
            <input pInputText id="confirmPassword" type="password" [(ngModel)]="userForm.value.confirmPassword"
                [formControlName]="'confirmPassword'" [autocomplete]="'off'"
                [class.ng-invalid]="(!isEdit && checkValidValidator('confirmPassword'))"
                [class.ng-dirty]="(!isEdit && checkValidValidator('confirmPassword'))" />
            <small *ngIf="userForm.value.password && userForm.value.password !== userForm.value.confirmPassword" class="p-error"
                [translate]="'info.confirm_password_not_match_password' | translate"></small>
        </div>
        <div class="field col-12 flex justify-content-end mt-4">
            <p-button icon="pi pi-times" (click)="onCancel.emit({})" [label]="'button.back' | translate"
                styleClass="p-button-outlined"></p-button>
            <p-button icon="pi pi-check" (click)="onSubmit()" [label]="'button.save' | translate"></p-button>
        </div>
    </div>
</form>
