<div class="flex gap-2 py-2">
    <button type="button" pButton label="F8. Lưu" class="p-button-sm p-button-primary" icon="pi pi-check"></button>
    <button type="button" pButton label="F9. Hủy" class="p-button-sm p-button-secondary" icon="pi pi-trash"></button>
    <button type="button" pButton label="F2. Thêm định khoản" class="p-button-sm p-button-success"
        icon="pi pi-check"></button>
    <button type="button" pButton label="F4. Thêm hóa đơn" class="p-button-sm p-button-warning"
        icon="pi pi-check"></button>
    <button type="button" pButton label="F8. Định khoản thuế" class="p-button-sm p-button-help"
        icon="pi pi-check"></button>
</div>
<div class="text-sm">
    <div class="grid">
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Mã</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
        </div>
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Ngày nhập</label>
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 58%;"></p-inputMask>
            </div>
        </div>
        <div class="col-8">
        </div>
    </div>
    <div class="grid pb-2">
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Người nộp</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Địa chỉ</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
        </div>
        <div class="col-8">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 10%;">Diễn giải</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 10%;">Ctừ kèm</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
            </div>
        </div>
    </div>
    <div class="grid pb-2" style="border-top: 1px solid black;">
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Loại H.Đơn</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Số sê ri</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
        </div>
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Số H.đơn</label>
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 58%;"></p-inputMask>
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Ngày H.Đơn</label>
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 58%;"></p-inputMask>
            </div>
        </div>
        <div class="col-8">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 10%;">Mã số thuế</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 10%;">Đơn vị</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 100%;" />
            </div>
        </div>
    </div>
    <div class="grid pb-2" style="border-top: 1px solid black;">
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Tk nợ</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">C.tiết nợ 1</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">C.tiết nợ 2</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
        </div>
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Mã dự án</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Tháng khấu hao</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Ngoại tệ</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
        </div>
    </div>
    <div class="grid pb-2">
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">T.K Có</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">C.tiết Có 1</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">C.tiết Có 2</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
        </div>
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Tỷ giá</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Số lượng</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Đơn giá</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
        </div>
    </div>
    <div class="grid pb-2">
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 42%;">Mã kho</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 58%;" />
            </div>
        </div>
        <div class="col-2">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <p-inputMask mask="99/99/9999" class="p-inputtext-sm" style="width: 100%;"></p-inputMask>
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 20%;">Số tồn cuối</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 80%;" />
            </div>
        </div>
        <div class="col-4">
            <div class="flex align-items-center gap-1" style="font-weight: bold;">
                <label style="width: 30%;">Thành tiền</label>
                <input type="text" class="p-inputtext-sm" pInputText style="width: 70%;" />
            </div>
        </div>
    </div>
</div>