    <div class="grid p-2 pt-4 pb-4">
        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-green-500 font-bold mb-3">{{'label.total_amount' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-green-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-cyan-500 font-bold mb-3">{{'label.sale_product' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-share-alt text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-blue-500 font-bold mb-3">{{'label.total_customer' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-orange-500 font-bold mb-3">{{'label.debit' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-credit-card text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-pink-500 font-bold mb-3">{{'label.credit' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-credit-card text-pink-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 sm:col-4">
            <div class="card card-hover mb-3">
                <span class="block text-green-500 font-bold mb-3">{{'label.order_web' | translate}}</span>
                <div class="flex justify-content-between align-items-center">
                    <div class="text-primary font-bold text-xl">1</div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-globe text-green-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 flex flex-column">
            <div class="flex gap-8 flex-column sm:flex-row">
                <div class="card w-full">
                    <h5>Vertical</h5>
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                </div>

                <div class="card w-full">
                    <h5>Horizontal</h5>
                    <p-chart type="bar" [data]="basicData" [options]="horizontalOptions"></p-chart>
                </div>
            </div>

            <div class="flex gap-8 flex-column sm:flex-row mt-2">
                <div class="card w-full">
                    <h5>Multi Axis</h5>
                    <p-chart type="bar" [data]="multiAxisData" [options]="multiAxisOptions"></p-chart>
                </div>

                <div class="card w-full">
                    <h5>Stacked</h5>
                    <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
                </div>
            </div>

            <div class="flex gap-8 flex-column sm:flex-row mt-2">
                <div class="card w-full">
                    <h5>Doughnut</h5>
                    <p-chart type="doughnut" [data]="doughnutData" [options]="chartOptions"></p-chart>
                </div>

                <div class="card w-full">
                    <h5>Doughnut</h5>
                    <p-chart type="doughnut" [data]="doughnutData" [options]="chartOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>

