<!--<p-toast></p-toast>-->
<!--<p-dialog *ngIf="ContractTypeForm.value" [header]="title" [(visible)]="display"-->
<!--    (onHide)="onCancel.emit({})" [modal]="true" [draggable]="false" [resizable]="false">-->
<!--    <form [formGroup]="ContractTypeForm" class="card mb-0">-->
<!--        <div class="p-fluid p-formgrid grid mt-2">-->
<!--            &lt;!&ndash;code&ndash;&gt;-->
<!--            <div class="field col-12">-->
<!--                <label htmlFor="code" [translate]="'label.code'"></label>-->
<!--                <input pInputText id="code" [(ngModel)]="ContractTypeForm.value.code" formControlName="code"-->
<!--                    [ngClass]="checkValidValidator('code')" />-->
<!--                <small *ngIf="checkValidValidator('code')" class="p-error"-->
<!--                    [innerHTML]="'info.code' | translate"></small>-->
<!--            </div>-->
<!--            &lt;!&ndash;name&ndash;&gt;-->
<!--            <div class="field col-12">-->
<!--                <label htmlFor="name" [translate]="'label.name'"></label>-->
<!--                <input pInputText id="name" [(ngModel)]="ContractTypeForm.value.name" formControlName="name"-->
<!--                    [ngClass]="checkValidValidator('name')" />-->
<!--                <small *ngIf="checkValidValidator('name')" class="p-error" [innerHTML]="'info.name' | translate"></small>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--    <ng-template pTemplate="footer">-->
<!--        <p-button icon="pi pi-times" (click)="onCancel.emit({})" [label]="'button.back' | translate" styleClass="p-button-outlined"></p-button>-->
<!--        <p-button icon="pi pi-check" (click)="onSubmit()" [label]="'button.save' | translate"></p-button>-->
<!--    </ng-template>-->
<!--</p-dialog>-->
<div class="grid">
    <div class="col-12 p-0">
        <div class="card card-table">
            <h5 [translate]="isEdit ? 'label.edit_department' : 'label.add_department'"></h5>
            <form [formGroup]="ContractTypeForm">
                <div class="p-fluid formgrid grid mt-4">
                    <div class="field col">
                        <label htmlFor="code">{{'label.code' | translate}}<span class="text-pink-400">*</span></label>
                        <input pInputText id="code" [(ngModel)]="ContractTypeForm.value.code" formControlName="code"
                               [ngClass]="checkValidValidator('code')"/>
                        <small *ngIf="checkValidValidator('code')" class="p-error"
                               [innerHTML]="'info.code' | translate"></small>
                    </div>
                </div>
                <div class="p-fluid formgrid grid mt-4">
                    <div class="field col">
                        <label htmlFor="name">{{'label.name' | translate}}<span class="text-pink-400">*</span></label>
                        <input pInputText id="name" [(ngModel)]="ContractTypeForm.value.name" formControlName="name"
                               [ngClass]="checkValidValidator('name')" />
                        <small *ngIf="checkValidValidator('name')" class="p-error" [innerHTML]="'info.name' | translate"></small>
                    </div>
                </div>
                <div class="w-full col-12 flex align-items-center justify-content-center mt-5">
                    <button pButton pRipple type="button" class="p-button-info" [label]="'button.save' | translate"
                            (click)="onSubmit()"></button>
                    <button pButton pRipple type="button" class="p-button-outlined p-button-secondary ml-4"
                            [label]="'button.back' | translate"
                            (click)="onBack()"></button>
                </div>
            </form>
        </div>
    </div>
</div>
