/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

.w-50{
  max-width: 50px;
  width: 50px;
}
.w-100{
  max-width: 100px;
  width: 100px;
}
.w-200{
  max-width: 200px;
  width: 200px;
}
.w-250{
  max-width: 250px;
  width: 250px;
}
.w-300{
  max-width: 300px;
  width: 300px;
}
.w-400{
  max-width: 400px;
  width: 400px;
}
.w-500{
  max-width: 500px;
  width: 500px;
}