<div *ngIf="!display" class="card card-table">
    <h5 [translate]="'label.user_management'"></h5>
    <p-table #dt1 [value]="lstUsers" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true"
        styleClass="p-datatable-gridlines sidebar-custom" [paginator]="true" [responsiveLayout]="isMobile? 'stack': 'scroll'"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true"
        [lazy]="true" (onLazyLoad)="getUsers($event)" scrollDirection="both" [scrollable]="!isMobile"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(first)]="first">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-start md:justify-content-between flex-column md:flex-row">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input #filter [(ngModel)]="getParams.searchText" pInputText type="text" (keypress)="onSearch($event)"
                        [placeholder]="'label.search' | translate" class="w-full" />
                </span>
                <div class="flex flex-column md:flex-row gap-8 w-full md:w-auto">
                    <p-dropdown [(ngModel)]="getParams.sortField" (onChange)="onChangeSort($event, 'sortField')" [options]="sortFields" [optionLabel]="'label'" [optionValue]="'code'"></p-dropdown>
                    <p-dropdown [(ngModel)]="getParams.isSort" (onChange)="onChangeSort($event, 'sortType')" [options]="sortTypes" [optionLabel]="'label'" [optionValue]="'code'"></p-dropdown>
                </div>
                <div class="flex justify-content-between md:justify-content-end mt-2 md:mt-0">
                    <button pButton [label]="'button.export' | translate" class="p-button-warning mb-2 mr-2" icon="pi pi-download"
                        (click)="getUsers(null, true)"></button>
                    <!-- add button -->
                    <button pButton [label]="'button.add' | translate" class="mb-2" icon="pi pi-user-plus" (click)="isEdit = false; showDialog()"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:80px">
                    <div class="flex align-items-center">
                        <span [translate]="'label.number_order'"></span>
                    </div>
                </th>
                <!-- <th style="width:200px">
                    <div class="flex align-items-center">
                        <span [translate]="'label.username'"></span>
                    </div>
                </th> -->
                <th style="width:200px">
                    <div class="flex align-items-center">
                        <span [translate]="'label.code'"></span>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="flex justify-content-between align-items-center">
                        <span [translate]="'label.full_name'"></span>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="flex justify-content-between align-items-center">
                        <span [translate]="'label.department'"></span>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="flex justify-content-between align-items-center">
                        <span [translate]="'label.role'"></span>
                    </div>
                </th>
                <th style="width:200px">
                    <div class="flex justify-content-between align-items-center">
                        <span [translate]="'label.last_login'"></span>
                    </div>
                </th>
                <th style="width:300px">
                    <div class="flex justify-content-between align-items-center">
                        <span [translate]="'label.address'"></span>
                    </div>
                </th>
                <th *ngIf="isMobile"></th>
                <th *ngIf="!isMobile" style="width:200px" alignFrozen="right" pFrozenColumn [frozen]="true"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td style="width:80px">
                    <span class="p-column-title" [translate]="'label.number_order'"></span>{{ user.id }}
                </td>
                <!-- <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.username'"></span>{{ user.username }}
                </td> -->
                <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.code'"></span>{{ user.code }}
                </td>
                <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.full_name'"></span>{{ user.fullName }}
                </td>
                <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.department'"></span>{{ user.departmentName }}
                </td>
                <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.role'"></span>{{ user.userRoleName }}
                </td>
                <td style="width:200px">
                    <span class="p-column-title" [translate]="'label.last_login'"></span>{{ user.lastLogin | date : 'dd/MM/yyyy hh:mm:ss' }}
                </td>
                <td style="width:300px">
                    <span class="p-column-title" [translate]="'label.address'"></span>{{ user.addressFull }}
                </td>
                <td *ngIf="isMobile">
                    <button pButton class="p-button-warning" icon="pi pi-pencil" (click)="getDetail(user.id)"></button>
                    <button pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(user.id)"></button>
                </td>
                <td *ngIf="!isMobile" style="width:200px" alignFrozen="right" pFrozenColumn [frozen]="true"
                        class="flex justify-content-start md:justify-content-center">
                    <button pButton class="p-button-warning" icon="pi pi-pencil" (click)="getDetail(user.id)"></button>
                    <button pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(user.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No user found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">Loading user data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-user-form #userForm [formData]="formData" [isReset]="isReset" [branches]="branches" [majors]="majors" [positionDetails]="positionDetails"
    [warehouses]="warehouses" [targets]="targets" [symbols]="symbols" [contractTypes]="contractTypes" [display]="display" (onCancel)="display = false; getUsers(null, false); isReset = false;"
    [isEdit]="isEdit" [provinces]="provinces" [nativeProvinces]="nativeProvinces" [roles]="roles"></app-user-form>

<p-confirmDialog #cd icon="pi pi-exclamation-triangle" [style]="{'min-width': '45vw'}">
    <ng-template pTemplate="header">
        <h4 class="m-0 text-white" [translate]="'question.delete_user_header'"></h4>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" [label]="'button.back' | translate" (click)="cd.reject()"></button>
        <button class="p-button-danger" type="button" pButton icon="pi pi-check" [label]="'button.remove' | translate" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
